.box-container {
   display: grid;
   grid-template-columns: mobile-desktop(1fr = 250px 1fr 250px);
   grid-template-rows: 1fr;
   gap: 20px;
   height: calc(100dvh - var(--height-header));
}

.box-item {
   display: mobile-desktop(none = block);
   height: calc(100dvh - var(--height-header));
}

.box-center {
   height: calc(100dvh - var(--height-header));
   overflow-y: auto;
   /* scrollbar-width: none; */
   /* &::-webkit-scrollbar {
      display: none;
   } */
}
