.table {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   gap: 20px;
   padding: 20px;
   /* background: var(--mantine-color-3); */
   border-radius: 15px;

   & .box-content {
      flex: 1;
      position: relative;
   }

   & .box-status {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }

   & .box-pagination {
      display: flex;
      flex-direction: mobile-desktop(column = row);
      justify-content: mobile-desktop(center = end);
      align-items: center;
      gap: 20px;
   }
}
