.box-1 {
   flex-wrap: mobile-desktop(wrap = nowrap);
}

.box-2 {
   display: grid;
   grid-template-columns: mobile-desktop(1fr 1fr = 1fr 1fr 1fr);
   gap: mobile-desktop(20px = 0);
   align-items: baseline;
}

.box-3 {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
}
