:root {
   /* --height-header-client: mobile-desktop(80px = 120px); */
   --height-header-client: 46px;
   --height-header-admin: 60px;
   --width-nav: 260px
}

html {
  scroll-behavior: smooth;
}

body {
   background-color: light-dark(#faf3eb, var(--mantine-color-dark-7));
   /* background-color: #fefaf7; */
}

.no-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/*! SCROLLBAR - start */
* {
   scrollbar-width: thin;
   scrollbar-color: rgba(100, 116, 139, 0.502) rgba(100, 116, 139, 0.161);
}
*::-webkit-scrollbar {
   width: 0.1rem;
}
/* CSS for horizontal scrollbars */
*::-webkit-scrollbar:horizontal {
   height: 0.1rem;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal,
*::-webkit-scrollbar-corner {
   background-color: rgba(100, 116, 139, 0.161);
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:horizontal {
   border-radius: 5px;
   background-color: rgba(100, 116, 139, 0.502);
}
/* SCROLLBAR - end */

*::selection {
   background-color: rgba(0, 255, 238, 0.5);
}
