.box-1 {
   transition: background-color 0.2s ease;
   cursor: pointer;
   padding: 5px 10px;
   border-radius: 10px;

   &:hover {
      background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
   }
}

